<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "http://crypt.weldra.com"
        version     = "0.0.1"
        defaultlocale="en">

  <!--<name short="Weldra Crypt">-->
  <name>
    Weldra Crypt
  </name>

  <description>
    Encrypt and decrypt files
  </description>

  <author href  = "http://weldra.com"
          email = "contact@weldra.com">Weldra</author>

  <license>
TODO
  </license>

  <icon src="icon.png"/>

  <content src="index.html"/>

  <preference name="phonegap-version" value="2.9.0" />

  <preference name="permissions" value="none"/>

</widget>